<aside class="block truncate col-span-1 mb-12">
  <%= render Layout::Subheading.new(title: "Class Methods") %>

  <ul class="list code">
    <% @class_methods.each do |class_method| %>
      <li><%= link_to class_method, class_method.url(@gem) %></li>
    <% end %>
  </ul>
</aside>
