<aside class="block truncate col-span-1 mb-12">
  <h3 class="list-header"><%= @title %></h3>

  <ul class="list code">
    <% if link? %>
      <%= active_link_to name, @definition.url(@gem), wrap_tag: :li %>
    <% else %>
      <li><%= name %></li>
    <% end %>
  </ul>
</aside>
