<div class="grid grid-cols-6 gap-8 mb-6">
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
  <div class="bg-gray-50 rounded p-3">
    1
  </div>
</div>
