<aside class="block truncate col-span-1 mb-12">
  <%= render Layout::Subheading.new(title: "Instance Methods") %>

  <ul class="list code">
    <% @instance_methods.each do |instance_method| %>
      <li><pre><%= link_to instance_method, instance_method.url(@gem) %></pre></li>
    <% end %>
  </ul>
</aside>
