<aside class="block truncate col-span-1 mb-12">
  <%= render Layout::Subheading.new(title: "#{@prefix} Methods") %>

  <ul class="list code">
    <% @con_methods.each do |method| %>
      <li><%= link_to method, method.url(@gem) %></li>
    <% end %>
  <ul>
</aside>
