<aside class="block truncate col-span-1 mb-12">
  <div class="border-b border-gray-200 pb-5 mb-6">
    <h3 class="text-base font-semibold leading-6 text-gray-900">Parent</h3>
  </div>

  <ul class="list code">
  <% if @superclass && @gem.classes.find { |klass| klass.qualified_name == @superclass.qualified_name } %>
    <li><%= link_to @superclass.qualified_name, gem_class_path(@gem.name, @gem.version, @superclass.qualified_name) %></li>
  <% elsif @superclass %>
    <li><%= @superclass.qualified_name %></li>
  <% end %>
  </ul>
</aside>
