<div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-20">
  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
    <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
      Introducing gem.sh

      <a href="https://twitter.com/marcoroth_/status/1685156160310038528" class="font-semibold text-red-600" target="_blank">
        <span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </div>

  <div class="text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Beautiful documentation for any Ruby gem</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      gem.sh is a cutting-edge documentation hub designed to elevate your experience with Ruby gems. We've taken the best features from various documentation sites, community hubs, and gem webpages, and unified them into a single, user-friendly platform.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="<%= gems_path %>" class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Get started</a>
      <a href="<%= gems_path %>" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 border hover:bg-gray-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>
